:root {
    --color-bg: #000000;
    --color-surface: #000000;
    --color-surface-hover: #000000;

    --color-border: #ffffff;
    --color-border-hover: #ff1493;

    --color-text: #ffffff;
    --color-text-muted: #8b8b8b;

    --color-accent: #ff1493;
    --color-error: #ff6b6b;
}